<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
</head>
<body>
    <form method="post" action="/tarefas/cadastrar">
        <input type="text" name="descricao" placeholder="Digite a descrição da tarefa"/>
        <button type="submit">Adicionar</button>
    </form>

    <hr/>
    <h2>Lista de tarefas</h2>
    <ul>
        <li th:each="tarefa:${tarefas}" th:text="${tarefa.descricao}"></li>
    </ul>
</body>
</html>